<div class="ui small inverted menu">
  <div class="ui container">
    <a class="item">
      Chatroom
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <a class="item">
        Account
      </a>
      <a class="item">
        Log Out
      </a>
      <a class="item">
        Log In
      </a>
      <div class="item">
          <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
