<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <a class="item">
        Account
      </a>
      <a class="item">
        Log Out
      </a>
      <%= link_to "Log In", login_path, class: "item" %>
      <div class="item">
          <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
